/* CSS files add styling rules to your content */

header#site-header {
	text-align: center;
}

header#site-header h1 {
  font-size: 50px;
  font-family: "Gloria Hallelujah", cursive;
}

a {
  text-decoration: none;
  color: RED;
}

a:hover {
  color: YELLOW; 
}

.rick {
  transform: translate(0px,0px);
  animation: move 5s linear 3s infinite alternate;
}

/*animations*/
@keyframes move {
  from {transform: translate(0px,0px)}
  to {transform: translate(200px,0px)}
}