/* CSS files add styling rules to your content */

header#site-header {
	background-image: url("https://cdn.glitch.com/35c9e1e6-5a4a-463d-983d-280a07d767c3%2FCREW.png?1541791330422");
	height: 225px;
	width: 225px;
	background-repeat: no-repeat;
	float:right;
}

#text {
	padding: 1%;
	color: white;
	font-family: Monospace;
}

.list {
	float: left;
	font-family: Monospace;
	padding: 1px;
}

.list p:hover {
	background-color: black;
	display: block;
	width: 50px;
}

body {
	background-color: gray;
  background-image: 
}

a {
text-decoration: none;
}