/* CSS files add styling rules to your content */

header#site-header {
	text-align: center;
}

header#site-header h1 {
  font-size: 50px;
  font-family: "Gloria Hallelujah", cursive;
}

#text {
	padding: 1%;
	color: white;
	font-family: Monospace;
}

.list {
	float: left;
	font-family: Monospace;
	padding: 1px;
}

.list p:hover {
	background-color: black;
	display: block;
	width: 50px;
  float: right;
}

body {
	background-color: #FFF;
}

a {
  text-decoration: none;
  color: RED;
}

a:hover {
 color: YELLOW; 
}

.rick {
  transform: translate(0px,0px);
  animation: move 5s linear 3s infinite alternate;
}

/*animations*/
@keyframes move {
  from {transform: translate(0px,0px)}
  to {transform: translate(200px,0px)}
}